<h1 style="font-family:times; font-size:25;"><u>API call webpage!</u> </h1>
<p style="font-family:helvetica; font-size:20;">API to call: <u>https://reqres.in/api/users</u> <br></p>
<h2 style="font-family:helvetica; font-size:20;">Click below to see examples of API responses:</h2>
<ol style="font-family:helvetica; font-size:20;">
<li><a href="http://127.0.0.1:5000/fetch_data_complete">Call API and display the whole data in raw format</a></li><br>
<li><a href="http://127.0.0.1:5000/fetch_data_desired">Call API and display the desired data in raw format</a></li><br>
<li><a href="http://127.0.0.1:5000/present_data">Call API and display the desired data in the asked format</a></li><br>
</ol>