<h1><i>Welcome to the Products and Timestamp webpage!</i></h1> <br>
<h2>Click below to see examples of product queries:</h2>
<ol>
<li><a href="http://127.0.0.1:5000/product_query?data=keyboaRd">http://127.0.0.1:5000/product_query?data=keyboaRd</a></li>
<li><a href="http://127.0.0.1:5000/product_query?data=laptop">http://127.0.0.1:5000/product_query?data=laptop</a></li>
<li><a href="http://127.0.0.1:5000/product_query?data=Projector">http://127.0.0.1:5000/product_query?data=Projector</a></li>
<li><a href="http://127.0.0.1:5000/product_query?data=Guitar">http://127.0.0.1:5000/product_query?data=Guitar</a></li>
<li><a href="http://127.0.0.1:5000/product_query?data=Presentator">http://127.0.0.1:5000/product_query?data=Presentator</a></li>
<li><a href="http://127.0.0.1:5000/product_query?data=Bottles">http://127.0.0.1:5000/product_query?data=Bottles</a></li>
</ol>
<br>
<h2>Click below to see the timestamp:</h2>
<h2><a href="http://127.0.0.1:5000/now">http://127.0.0.1:5000/now</a></h2>