<!DOCTYPE html>
<html lang="en">
<head style="font-family:helvetica; font-size:20;">
    <meta charset="UTF-8">
    <title>Product Search Page</title>
</head>
<h2 style="font-family:helvetica;">Enter the following details for your product:</h2>
<form method="post" style="font-family:helvetica; font-size:25;">
    Product Name <input type="text" name="name">
    Price <input type="text" name="price">
    Warranty <input type="text" name="warranty">
    Type <input type="text" name="type">
    Processor <input type="text" name="processor">
    <input type="submit">
</form>
<h2 style="font-family:helvetica;"><a href="http://127.0.0.1:5000/product">Add another product</a></h2>
<h2 style="font-family:helvetica;"><a href="http://127.0.0.1:5000/query">Search for a product</a></h2>
<h2 style="font-family:helvetica;"><a href="http://127.0.0.1:5000/">Go back to Home Page</a></h2>
</html>